@font-face {
    font-family: Brandon;
    font-weight: bold;
    src: url("/fonts/Brandon_bld.otf");
}
@font-face {
    font-family: Brandon;
    font-weight: bolder;
    src: url("/fonts/Brandon_blk.otf");
}
@font-face {
    font-family: Brandon;
    font-weight: normal;
    src: url("/fonts/Brandon_reg.otf");
}