doctype html
html(class="no-js", lang="en")
    include header
    body
        .row.full-width#splash
            .small-12.columns
                .row
                    #splash-logo
                .row.flex-center
                    a(href="#") ABOUT US
                    a(href="#") TREE CARE
                    a(href="#") CONSULTING
        .row.full-width#about-us
            .small-12.medium-7.columns.right
                .small-11.small-centered.columns#about-us--info
                    .row
                        h1 ABOUT US
                        hr
                    .row
                        .small-12.medium-10.columns.no-pad
                            p.accent.
                                Serving the needs of unabashed tree lovers,
                                their neighbors &amp; governments by providing
                                a preventative, holistic approach to 
                                tree care. 
                            p.
                                We specialize in assessing the structural integrity of large,
                                old trees, and have extensive experience designing and
                                installing dynamic cabling systems. The majority of our 
                                customers are homeowners, but we occasionally preform 
                                formal risk assessments, oversee tree-sensitive construction
                                sites and deliver expert opinions for municipalities,
                                businesses and educational institutions. 
                                <br><br>
                                In large tree care companies, a complicated chain of 
                                comman often results in mistakes and cookie-cutter
                                solutions. Becuase we are a very small company of
                                articulate and educated employees, we are able to 
                                safeguard the trees we work on while providing
                                <br>
                                <b><i>intelligent</b></i> solutions to <i><b>unique</i></b> problems
        .row.full-width#meet-the-crew
            .small-12.columns
                .row
                    h1.medium.flex-center MEET THE CREW
                .row
                    .small-8.small-centered.columns
                        p.
                            With a family background in engineering, undergraduate work in math and chemistry, and 
                            a degree in dance and literature from Bennington College, Jack Magai started working in 
                            the tree care field in 1985. He started pruning trees in Seattle in the 90’s and became 
                            certifed as an arborist by the International Society of Aboraculture (ISA) in 1997. He 
                            has studied tree mechanics with Claus Mattheck, and recently became qualifed by the 
                            ISA in Tree Risk Assessment. Under his other hat he has been making and preforming 
                            dance-based works for 30 years. He has two sons with the writer Amy Halloran.
                .row
                    .small-10.small-centered.columns
                        ul.flex-center
                            li
                                .circle
                                .box
                                    .name JACK MAGAI 
                                    .title Owner-Arborist
                            li
                                .circle
                                .name ANDREW LYNN
                                .title Insert Title
                            li 
                                .circle
                                .name TRISTEN WOOD
                                .title Insert Title
                            li 
                                .circle
                                .name ETHEN SEELEY
                                .title Insert Title

        include footer